/.ipynb_checkpoints/*
/checkpoint/*
/data_sentences/*
/data_singleword/*
/logs/*
/models/*
/numpyArrays/*
/ResizedImages/
/data/*
6 Convolutional Neural Networks.ipynb
/EAST_model/*
/.vscode/settings.json